<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRMAutomationSuite">
  <test name="CRMTest">
    <classes>
      <class name="com.CRM.Tests.CRMLoginTest"/>
     <class name="com.CRM.Tests.CRMHomeTest"/>
    </classes>
    </test>
</suite>
